body {
    background: rgb(136, 164, 255);
    font-family: Arial;
    font-size: 1.2rem;
}

.align-right {
    display: flex;
    justify-content: flex-end;
}

.align-right button {
    margin-top: 30px;
}

.defaultMarginTop {
    margin-top: 20px;
}